.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  font-weight: 600;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  gap: 8px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.primary,
.hero {
  background-color: var(--accent-bg);
  color: white;
  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover:not(:disabled) {
    background-color: var(--accent);
  }
}

.hero {
  background: var(--primary-bg);
}

.secondary {
  background-color: var(--yellow);
  color: black;
  transition: all 0.3s ease;
  &:hover:not(:disabled) {
    background-color: var(--accent);
    color: white;
    transition: all 0.2s ease;
  }
}

.outline {
  background-color: transparent;
  color: var(--accent-bg);
  border: 1px solid var(--accent-bg);
  transition: all 0.25s ease;

  &:hover:not(:disabled) {
    background-color: var(--accent-bg);
    border-color: var(--accent-bg);
    color: white;
  }
}

.outlineWhite {
  color: #ffffffbb;
  background-color: transparent;
  border: 1px solid #ffffff99;
  &:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.135);
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

.danger {
  background-color: #fee2e2;
  color: #dc2626;
  border: 1px solid #fecaca;
  &:hover:not(:disabled) {
    background-color: #fef2f2;
    color: #b91c1c;
  }
}

.xs {
  padding: 3px 6px;
  font-size: 0.3rem;
}

.sm {
  padding: 4px 8px;
  font-size: 0.875rem;
}

.md {
  padding: 10px 20px;
  font-size: 1rem;
}

.lg {
  padding: 12px 28px;
  font-size: 1.125rem;
}

.fullWidth {
  display: flex;
  width: 100%;
}
