.badges
  display: flex
  gap: 0.5rem
  margin: 0.5rem 0
  flex-wrap: wrap

.badge
  background: var(--lighter)
  color: var(--text-color)
  padding: 0.15rem 0.5rem
  margin-top: 0.5rem
  border-radius: 0.25rem
  font-size: 0.85rem
  font-weight: 500
  display: flex
  align-items: center
  gap: 0.3rem

.flag
  width: 16px
  height: 12px
  object-fit: contain
