.panel
  padding: 1rem
  background: var(--bg-dark)
  border: 1px solid var(--danger)
  border-radius: var(--radius-md)
  margin-bottom: 1rem
  display: flex
  flex-direction: column
  gap: 0.5rem

  input, textarea
    padding: 0.5rem
    border-radius: var(--radius-sm)
    border: 1px solid var(--border)
