.card {
  overflow: hidden;
  text-align: left;
  padding-bottom: 0.75rem;

  &.collapsible {
    padding-bottom: 0;
  }
}

.classic {
  background: var(--table-bg-main);
  border: 1px solid var(--lines);
  border-radius: 0.5rem;
  color: var(--text);
  margin-bottom: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--table-bg);
    padding: 0;
    transition: all 0.2s ease-in;
    cursor: default;

    .title {
      color: var(--text-h);
      font-weight: 600;
      padding: 20px 24px;
      margin: 0;
      border-bottom: none;
    }
  }

  &.collapsible .header {
    cursor: pointer;
  }
}

.collapseBtn {
  background: none;
  border: none;
  color: var(--text);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  cursor: pointer;
  transition: all 0.1s ease-in;

  &:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in;
  }
}

.hero {
  background: var(--accent-bg);
  background: url('/grass2.png') repeat repeat center;
  background-position: center;
  background-size: 40%;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  color: white;

  .title {
    color: white;
    padding: 24px 32px 8px;
  }
}

.title {
  margin: 0;
  font-size: 1.25rem;
}

.content {
  padding: 1.25rem 2rem;

  @media (max-width: 620px) {
    padding: 0.5rem 0.25rem;
  }
}
