.card {
  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: 8px;
  margin-bottom: 24px;
  overflow: hidden;
  text-align: left;
}

.title {
  padding: 16px 24px;
  margin: 0;
  border-bottom: 1px solid var(--border);
  font-size: 1.25rem;
  background-color: var(--code-bg);
}

.content {
  padding: 24px;
}
